In [1]:
import pandas as pd

In [2]:
train_path = '../data/SEM-2012-SharedTask-CD-SCO-training-simple.v2_features.txt'
dev_path = '../data/SEM-2012-SharedTask-CD-SCO-dev-simple.v2_pred_best_CRF.txt'

In [3]:
train = pd.read_csv(train_path, encoding='utf-8', sep='\t',
                    keep_default_na=False, quotechar='\\', skip_blank_lines=False)
dev = pd.read_csv(dev_path, encoding='utf-8', sep='\t',
                  keep_default_na=False, quotechar='\\', skip_blank_lines=False)

In [4]:
train.head(5)

,book,sent_num,token_num,token,lemma,prev_lemma,next_lemma,pos_category,is_single_cue,has_affix,affix,base_is_word,base,gold_label
0,baskervilles01,0,0,chapter,chapter,bos,1.,NN,0,0,,0,,O
1,baskervilles01,0,1,1.,1.,chapter,mr.,OTH,0,0,,0,,O
2,baskervilles01,0,2,mr.,mr.,1.,sherlock,NN,0,0,,0,,O
3,baskervilles01,0,3,sherlock,sherlock,mr.,holmes,NN,0,0,,0,,O
4,baskervilles01,0,4,holmes,holmes,sherlock,eos,NN,0,0,,0,,O

In [5]:
dev.head(5)

,book,sent_num,token_num,lemma,prev_lemma,next_lemma,pos_category,is_single_cue,has_affix,affix,base_is_word,gold_label,pred
0,wisteria01,0,0,1.,bos,the,OTH,0,0,,0,O,O
1,wisteria01,0,1,the,1.,singular,OTH,0,0,,0,O,O
2,wisteria01,0,2,singular,the,experience,ADJ,0,0,,0,O,O
3,wisteria01,0,3,experience,singular,of,NN,0,0,,0,O,O
4,wisteria01,0,4,of,experience,mr.,OTH,0,0,,0,O,O

In [6]:
errors = dev[dev['gold_label'] != dev['pred']]

In [7]:
errors.shape[0]

24

In [8]:
errors['gold_label'].unique()

array(['B-NEG', 'O', 'I-NEG'], dtype=object)

In [9]:
errors[errors['gold_label'] == 'B-NEG']

,book,sent_num,token_num,lemma,prev_lemma,next_lemma,pos_category,is_single_cue,has_affix,affix,base_is_word,gold_label,pred
948,wisteria01,59,26,unkempt,and,",",ADJ,0,1,un,0,B-NEG,O
2054,wisteria01,121,19,impatience,nervous,.,NN,0,1,im,1,B-NEG,O
3736,wisteria01,230,13,neither,find,you,OTH,1,0,,0,B-NEG,O
4949,wisteria01,303,3,irreproachable,this,englishman,ADJ,0,1,ir,0,B-NEG,O
5035,wisteria01,309,3,insensibly,yourself,twist,ADV,0,1,in,1,B-NEG,O
5184,wisteria01,324,10,inadmissable,quite,.,ADJ,0,1,in,0,B-NEG,O
5242,wisteria01,328,18,insufferable,the,fatigue,ADJ,0,1,in,1,B-NEG,O
7474,wisteria02,114,0,save,bos,for,VERB,1,0,,0,B-NEG,O
7648,wisteria02,121,18,dissatisfy,not,at,VERB,0,1,dis,1,B-NEG,O
8943,wisteria02,192,2,inexplicable,whole,tangle,ADJ,0,1,in,0,B-NEG,O
9686,wisteria02,227,15,dislike,and,of,NN,0,1,dis,1,B-NEG,O
9865,wisteria02,239,10,nobody,",",have,NN,1,0,,0,B-NEG,O
10250,wisteria02,266,6,nothing,for,",",NN,1,0,,0,B-NEG,O
13094,wisteria02,418,2,not,could,doubt,ADV,1,0,,0,B-NEG,O

In [10]:
errors[errors['gold_label'] == 'I-NEG']

,book,sent_num,token_num,lemma,prev_lemma,next_lemma,pos_category,is_single_cue,has_affix,affix,base_is_word,gold_label,pred
13008,wisteria02,414,7,more,no,in,ADV,0,0,,0,I-NEG,O

In [11]:
errors[errors['gold_label'] == 'O']

,book,sent_num,token_num,lemma,prev_lemma,next_lemma,pos_category,is_single_cue,has_affix,affix,base_is_word,gold_label,pred
2187,wisteria01,128,11,endless,smoke,cigarette,NN,0,1,less,1,O,B-NEG
3850,wisteria01,237,8,no,and,pain,OTH,1,0,,0,O,B-NEG
7350,wisteria02,107,11,none,be,the,NN,1,0,,0,O,B-NEG
8542,wisteria02,172,12,understand,quite,.,ADJ,0,1,un,0,O,B-NEG
8622,wisteria02,176,12,none,have,the,VERB,1,0,,0,O,B-NEG
9516,wisteria02,219,16,absence,'s,",",NN,1,0,,0,O,B-NEG
10611,wisteria02,289,3,listlessly,hung,upon,ADV,0,1,lessly,1,O,B-NEG
11811,wisteria02,358,3,never,man,live,ADV,1,0,,0,O,B-NEG
11816,wisteria02,359,0,unhappily,bos,",",ADV,0,1,un,1,O,B-NEG

In [12]:
dev[dev['lemma'] == 'absence']

,book,sent_num,token_num,lemma,prev_lemma,next_lemma,pos_category,is_single_cue,has_affix,affix,base_is_word,gold_label,pred
9516,wisteria02,219,16,absence,'s,",",NN,1,0,,0,O,B-NEG

In [13]:
train[train['lemma'] == 'absence']

,book,sent_num,token_num,token,lemma,prev_lemma,next_lemma,pos_category,is_single_cue,has_affix,affix,base_is_word,base,gold_label
9787,baskervilles03,185,18,absence,absence,my,two,NN,1,0,,0,,O
56164,baskervilles13,33,4,absence,absence,complete,of,NN,1,0,,0,,B-NEG
56486,baskervilles13,51,23,absence,absence,it,.,NN,1,0,,0,,O